<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shishuishuia.mapper.HandphoneMapper">

    <insert id="saveHeadphone" useGeneratedKeys="true" keyProperty="id">
        insert into handphone(state, price,browse, headline, location, detail, quality)
        values(#{state}, #{price}, 0, #{headline}, #{location}, #{detail}, #{quality})
    </insert>
    <insert id="publishhandphone">
        insert into publish(userid, phoneId) values (#{userId}, #{handphoneId})
    </insert>
    <insert id="savephonePhoto" parameterType="list">
        INSERT INTO phonephoto (id, photo)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{id}, #{item})
        </foreach>
    </insert>
    <update id="updatephoneState">
        update handphone
        set state=#{state}
        where id=#{phoneId}
    </update>
    <update id="updateBrowseInt">
        update handphone
        set browse=browse+1
        where id =#{id}
    </update>

    <resultMap id="handphoneResultMap" type="com.shishuishuia.pojo.HandPhone">
        <id property="id" column="id"/>
        <result property="state" column="state"/>
        <result property="price" column="price"/>
        <result property="detail" column="detail"/>
        <result property="quality" column="quality"/>
        <result property="headline" column="headline"/>
        <result property="publishedtime" column="publishedtime"/>
        <result property="browse" column="browse"/>
        <result property="location" column="location"/>
        <!-- 其他字段映射... -->
        <result property="photos" column="photos"
                typeHandler="com.shishuishuia.utils.StringToListTypeHandler"/>
    </resultMap>

    <select id="getAllrHandphoneByUseId" resultMap="handphoneResultMap">
        SELECT
            h.*,
            GROUP_CONCAT(DISTINCT p.photo) AS photos
        FROM
            publish pub
                INNER JOIN handphone h ON pub.phoneId = h.id
                LEFT JOIN phonephoto p ON h.id = p.id
        WHERE
            pub.userId = #{id}
        GROUP BY
            h.id;
    </select>
    <select id="getDetailById" resultMap="handphoneResultMap">
        SELECT
            h.*,
            GROUP_CONCAT(p.photo) AS photos  -- MySQL
        FROM
            handphone h
                LEFT JOIN phonephoto p ON h.id = p.id
        WHERE
            h.id = #{id}
        GROUP BY
            h.id
    </select>
    <select id="getAllByLocationHandPhones" resultMap="handphoneResultMap">
        select h.*,
               GROUP_CONCAT(p.photo) AS photos
        from handphone h
                 INNER JOIN phonephoto p ON h.id = p.id
        where location=#{location} and state = 0
        GROUP BY
            h.id;
    </select>
</mapper>