<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shishuishuia.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO user(name, phone, username, password, gender, avatar, transactionnumber)
        VALUES (#{name}, #{phone}, #{username}, #{password}, #{gender}, #{avatar}, 0)
    </insert>

    <select id="login" resultType="com.shishuishuia.pojo.User">
        select *
        from user
        where username= #{username} and password =#{password}
    </select>

    <select id="findbyUsername" resultType="com.shishuishuia.pojo.User">
        select *
        from user
        where username= #{username}
    </select>
</mapper>